\documentclass{article}

\usepackage[utf8]{inputenc}

\usepackage{geometry}
\geometry{width=\paperwidth}

\usepackage{graphicx}
\setkeys{Gin}{keepaspectratio}

\usepackage{tabularx}

\begin{document}

\begin{minipage}{0.35\linewidth}
    \rmfamily
    \resizebox{\linewidth}{\textheight}{ \VAR{month_name} }
\end{minipage}
\hspace{0.05\linewidth}
\begin{minipage}{0.55\linewidth}
    \sffamily
    \large
    \setlength\extrarowheight{5pt}
    \begin{tabular*}{\linewidth}{@{\extracolsep{\fill}} \VAR{7*no_of_weeks_per_line*'c'}}
        \VAR{ weekdays_line|join('&') } \\
        \BLOCK{ for d in dates }
        \VAR{ d -}
        \BLOCK{ if loop.index % (no_of_weeks_per_line * 7) == 0 }
        \VAR{- '\\\\' }
        \BLOCK{ else }
        \VAR{- '&' -}
        \BLOCK{ endif }
        \BLOCK{ endfor +}
    \end{tabular*}
\end{minipage}

\end{document}
