\documentclass{article}

\usepackage[utf8]{inputenc}

\usepackage{geometry}
\geometry{width=\paperwidth}

\usepackage{graphicx}
\setkeys{Gin}{keepaspectratio}

\usepackage{tabularx}

\begin{document}

\begin{minipage}{0.35\linewidth}
    \rmfamily
    \resizebox{\linewidth}{\textheight}{ \VAR{month_name} }
\end{minipage}
\hspace{0.05\linewidth}
\begin{minipage}{0.55\linewidth}
    \sffamily
    \large
    \setlength\extrarowheight{5pt}
    \begin{tabular*}{\linewidth}{@{\extracolsep{\fill}} cccccccc}
        \VAR{weekdays_line}
        \VAR{dates_grid}
    \end{tabular*}
\end{minipage}

\end{document}
