\documentclass{article}

\usepackage{geometry}
\geometry{
    paperwidth=\VAR{geometry.paper.width}mm,
    paperheight=\VAR{geometry.paper.height}mm
}
\geometry{
    top=\VAR{geometry.paper.margins.top}mm,
    bottom=\VAR{geometry.paper.margins.bottom}mm,
    left=\VAR{geometry.paper.margins.left}mm,
    right=\VAR{geometry.paper.margins.right}mm
}

\usepackage{graphicx}
\setkeys{Gin}{keepaspectratio}

\usepackage{tabularx}

\usepackage{fontspec}
\newfontfamily{\captionfont}{\VAR{font.caption}}
\newfontfamily{\monthfont}{\VAR{font.month}}
\newfontfamily{\weekfont}{\VAR{font.week}}
\newfontfamily{\daysfont}{\VAR{font.day}}

\usepackage[table]{xcolor}
\definecolor{captioncolor}{rgb}{\VAR{color.caption|join(',')}}
\definecolor{monthcolor}{rgb}{\VAR{color.month|join(',')}}
\definecolor{weekcolor}{rgb}{\VAR{color.week|join(',')}}
\definecolor{daycolor}{rgb}{\VAR{color.day|join(',')}}

\usepackage{pbox}

\pagestyle{empty} % no page numbers

\begin{document}

\large % font size

\noindent
\begin{minipage}[][\VAR{geometry.image.height}\textheight][]{\textwidth}%
    \centering
    \pbox{\textwidth}{ % minimal width box wrapping the image to align the caption
        \captionfont
        \hspace*{\fill} \color{captioncolor} \VAR{image_caption} \\
        \includegraphics[angle=\VAR{image_rotation},
                        width=\linewidth,
                        height=\VAR{geometry.image.height}\textheight,
                        keepaspectratio]
                        {\VAR{image_path}}
    }
\end{minipage}
\\[\VAR{geometry.image.padding}\textheight]
\begin{minipage}[][\VAR{1 - geometry.image.height - geometry.image.padding}\textheight][]{\VAR{geometry.grid.month_width}\linewidth}%
    \monthfont
    \resizebox{\linewidth}{\textheight}{\noindent \color{monthcolor} \VAR{month_name} } % resize text to fill the box
\end{minipage}%
\hspace{\VAR{geometry.grid.padding}\linewidth}%
\begin{minipage}[][\VAR{1 - geometry.image.height - geometry.image.padding}\textheight][]{\VAR{1 - geometry.grid.padding - geometry.grid.month_width}\linewidth}%
    \weekfont
    \color{weekcolor}
    \begin{tabular*}{\linewidth}[t]{@{\extracolsep{\fill}} \VAR{7*no_of_weeks_per_line*'c'}}
        \VAR{ weekdays_line|join('&') } \\[\VAR{geometry.grid.row_height}mm]
        \BLOCK{ for d in dates }
        \color{daycolor} \daysfont \VAR{ d -}
        \BLOCK{ if loop.index % (no_of_weeks_per_line * 7) == 0 }
        \VAR{- '\\\\' }[\VAR{geometry.grid.row_height}mm]
        \BLOCK{ else }
        \VAR{- '&' -}
        \BLOCK{ endif }
        \BLOCK{ endfor +}
    \end{tabular*}
\end{minipage}

\end{document}
