\documentclass{article}

\usepackage[utf8]{inputenc}

\usepackage{geometry}
\geometry{
    paperwidth=\VAR{geometry.paper.width}mm,
    paperheight=\VAR{geometry.paper.height}mm
}
\geometry{
    top=\VAR{geometry.paper.margins.top}mm,
    bottom=\VAR{geometry.paper.margins.bottom}mm,
    left=\VAR{geometry.paper.margins.left}mm,
    right=\VAR{geometry.paper.margins.right}mm
}

\usepackage{graphicx}
\setkeys{Gin}{keepaspectratio}

\usepackage{tabularx}

\pagestyle{empty}

\usepackage{fontspec}
\newfontfamily{\monthfont}{\VAR{font.month}}
\newfontfamily{\weekfont}{\VAR{font.week}}
\newfontfamily{\daysfont}{\VAR{font.day}}

\usepackage[table]{xcolor}
\definecolor{monthcolor}{rgb}{\VAR{color.month|join(',')}}
\definecolor{weekcolor}{rgb}{\VAR{color.week|join(',')}}
\definecolor{daycolor}{rgb}{\VAR{color.day|join(',')}}

\begin{document}

\null % for some godforsaken reason, image placement is ignored on empty pages

\begin{figure}[b]
\begin{minipage}[t][][b]{\VAR{geometry.month.width}\linewidth}%
    \monthfont
    \resizebox{\linewidth}{\textheight}{ \color{monthcolor} \VAR{month_name} }
\end{minipage}%
\hspace{\VAR{geometry.month.margin}\linewidth}%
\begin{minipage}[t][][t]{\VAR{1 - geometry.month.margin - geometry.month.width}\linewidth}%
    \daysfont
    \large
    \setlength\extrarowheight{5pt}
    \color{weekcolor}
    \begin{tabular*}{\linewidth}{@{\extracolsep{\fill}} \VAR{7*no_of_weeks_per_line*'c'}}
        \VAR{ weekdays_line|join('&') } \\
        \BLOCK{ for d in dates }
        \color{daycolor} \VAR{ d -}
        \BLOCK{ if loop.index % (no_of_weeks_per_line * 7) == 0 }
        \VAR{- '\\\\' }
        \BLOCK{ else }
        \VAR{- '&' -}
        \BLOCK{ endif }
        \BLOCK{ endfor +}
    \end{tabular*}
\end{minipage}%
\end{figure}

\end{document}
